@import './base.css';
@import './font.css';

html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

#app {
  width: 100%;
  overflow: hidden;
  font-weight: normal;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text-soft);
  transition: 0.7s;
  padding: 3px;
  border-radius: 6px;
  transition: color .4s;
}

.router-link-exact-active {
  transition: color .4s;
}

a:hover,
a:hover.router-link-exact-active {
  color: var(--color-primary);
}
